@define-color background rgba(20, 20, 20, 0.75);
@define-color foreground #e0e0e0;
@define-color bg3 rgba(255, 255, 255, 0.1);
* {
  border: none;
  border-radius: 0px;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: bold;
  font-size:14px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @background;
  border: 1px solid @bg3;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 6px;
}

tooltip label {
  color: @foreground;
  padding: 6px;
}

#workspaces {
  background-color: @background;
  padding: 5px 3px;
  margin: 0 0 0 12px;
  border-radius: 6px;
  color: @foreground;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0px 3px;
  border-radius: 6px;
  color: @foreground;
  transition: all .3s ease-in-out;
}

#workspaces button.active {
  background-color: @foreground;
  color: @background;
  min-width: 25px;
  transition: all .3s ease-in-out;
  font-size: 13px;
}

#workspaces button.empty {
  opacity: 0.5;
}

.modules-center,
#tray-expander,
#custom-brightness,
#bluetooth,
#battery,
#cpu,
#custom-weather,
#pulseaudio,
#network,
#clock,
#custom-notification {
  background-color: @background;
  padding: 0 6px 0 6px;
  margin: 0 0 0 6px;
  border-radius: 6px;
}

.modules-center {
  padding: 0 15px 0 15px;
}

/* Kustom Teks "cachy" di Tengah */
#custom-cachy {
  color: @foreground;
  font-weight: bold;
  padding: 0 10px;
}

#custom-weather,
#clock,
#custom-notification,
#pulseaudio,
#network,
#battery,
#bluetooth,
#cpu,
#custom-brightness,
#tray-expander {
  color: @foreground;
}

#pulseaudio,
#network {
  padding: 0 20px 0 13px;
}

#battery {
  margin-right: 4px;
}

#tray {
  margin-left: 10px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  padding: 10px 15px 10px 13px;
  font-size: 13px;
}

#custom-screenrecording-indicator.active {
  color: @foreground;
}
